<div class="header-bar-wrap">
    <div class="header-row">
        <ul class="header-ul">
            <a href="https://clearpathrobotics.com/">
                <div class="header-logo cpr-logo no-underline" border="0"></div>
            </a>
            <a href="https://www.openrobotics.org/">
                <div class="header-logo osrf-logo no-underline" border="0"></div>
            </a>
            <a href="https://docs.ros.org/en/galactic/index.html">
                <div class="header-logo ros-logo no-underline" border="0"></div>
            </a>
            <a href="https://github.com/turtlebot/TurtleBot4Lessons">
                <div class="header-logo lessons-logo no-underline" border="0"></div>
            </a>
            <a href="https://github.com/turtlebot">
                <div class="header-logo github-logo no-underline" border="0"></div>
            </a>
            <a href="https://www.clearpathrobotics.com">
                <div class="header-logo shop-logo no-underline" border="0"></div>
            </a>
        </ul>
    </div>
</div>